# Binários para programas e plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de teste, especificamente
*_test.go

# Diretórios de saída
bin/
!bin/release.sh
!bin/update_version.sh
dist/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Garantir que o arquivo VERSION seja versionado
!VERSION
